#Two Sum Problem
Problem Statement: Given an array of integers nums and an integer target, return the indices of the two numbers such that they add up to target.

In [41]:
def two_sum(nums, target):
 n2= []
 for i in range(len(nums)):
  for j in range(i+1,len(nums)):
    if nums[i]+nums[j]==target:
     n2.extend([i,j])
 return n2
# assert two_sum([2,7,11,15], 9) == [0, 1]
# assert two_sum([3,2,4], 6) == [1, 2]

In [42]:
two_sum([2,7,11,15], 9)

[0, 1]

# Check Palindrome
Problem Statement: Given a string, determine if it is a palindrome. A palindrome reads the same backward as forward.

In [46]:
def is_palindrome(s):
 if s==s[::-1]:
  return True
 else:
  return False
#assert is_palindrome("racecar") == True
#assert is_palindrome("hello") == False

In [48]:
is_palindrome("hello")

False

#FizzBuzz
Problem Statement: Write a program that outputs the string representation of numbers from 1 to n. But for multiples of three, it should output “Fizz” instead of the number, and for the multiples of five output “Buzz”. For numbers which are multiples of both three and five output “FizzBuzz”.

In [57]:
def fizz_buzz(n):
  s1=[]
  for i in range(1,n+1):
   if i%3==0:
    s1.append("Fizz")
   elif i%5==0:
     s1.append("Buzz")
   elif i%3==0 and i%5==0:
    s1.append("FizzBuzz")
   else:
    s1.append(str(i))
  return s1
#assert fizz_buzz(5) == ["1", "2", "Fizz", "4", "Buzz"]

In [58]:
fizz_buzz(5)

['1', '2', 'Fizz', '4', 'Buzz']

#Prime Number Checker
Problem Statement: Determine if a given number n is prime.

In [7]:
def is_prime(n):
  basic_prime = [2,3]
  if n in basic_prime:
    return True
  for i in range(2,n):
    if (n%i) == 0:
      return False
    else:
      return True
#assert is_prime(2) == True
#assert is_prime(4) == False

In [8]:
is_prime(11)

True

In [9]:
def is_prime1(num):
    for i in range(2, num):
        if (num % i) == 0:
            print(num, "is not a prime number")
            break
    else:
      print(num, "is a prime number")

In [10]:
is_prime1(11)

11 is a prime number

#Roman to Integer
Problem Statement: Convert a Roman numeral s to an integer.

In [ ]:
def roman_to_int(s):
    pass
#assert roman_to_int("III") == 3
#assert roman_to_int("IV") == 4

In [ ]:
!pip install roman

In [119]:
import roman
def roman_to_int(s:str)->int:
 result=roman.fromRoman(s)
 return result

In [121]:
roman_to_int("XXIV")

24

#List Overlap
Problem Statement: Given two lists, find and return the common elements between them in a new list. The elements in the output list should not repeat.

In [8]:
from typing import List

In [9]:
def find_common(nums1:List, nums2:List)->List:
    return list(set(nums1).intersection(set(nums2)))
#assert find_common([1,2,2,1], [2,2]) == [2]
#assert find_common([4,9,5], [9,4,9,8,4]) == [4,9]